body {
  margin: 0;
  font-family: sans-serif;
  background-color: whitesmoke;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header li {
  display: inline-block;
  list-style: none;
  padding: 0 20px;
}

header li a {
  text-decoration: none;
  color: black;
}
.navigation {
  display: flex;
}

.hero {
  width: 100%;
  height: 100vh;
  text-align: right;
  display: flex;
  justify-content: flex-end;
}

.hero-inner {
  font-size: 60px;
  text-align: right;
  margin-right: 50px;
  width: 700px;
  margin-top: 170px;
}

.main {
  margin: 0 50px;
}
.name {
  color: cornflowerblue;
}

#hi {
  writing-mode: vertical-rr;
}

main {
}

.aboutme {
}
#about {
  display: flex;
  border: 1px solid black;
}

#aboutparagraph {
  width: 50%;
  height: 100px;
}

#dogphoto {
  width: 225px;
  margin-right: 200px;
}

#skills {
}

#projects {
}

#contact {
}

footer {
  display: flex;
  justify-content: center;
}

@media screen (mid-width: 320px);
