body {
  margin: 0;
  font-family: sans-serif;
}

header {
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header li {
  display: inline-block;
  list-style: none;
  padding: 0 20px;
}

.navigation {
  display: flex;
}

.hero {
  width: 100vw;
  height: 100vh;
}

.hero-inner {
  font-size: 3.5em;
  text-align: right;
  margin-right: 50px;
}

.name {
  color: cornflowerblue;
}

main {
  background-color: white;
}

footer {
  background-color: yellow;
}

#about {
  display: grid;
  grid-template-columns: 2;
}

#aboutparagraph {
  width: 30%;
  height: 100px;
}

#dogphoto {
  width: 225px;
  height: 300px;
}
