body {
  margin: 0;
  font-family: "Inter", Arial, sans-serif;
  background-color: whitesmoke;
}

a:link {
  cursor: grab;
}

a:hover {
  text-decoration: underline;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

header li {
  list-style: none;
  padding: 0 20px;
}

header li a {
  text-decoration: none;
  color: black;
}

nav {
  width: 100%;
}
.navigation {
  display: flex;
  justify-content: flex-start;
  margin-top: 20px;
  width: 100%;
}

#KM {
  width: 100%;
}

.nav-links {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.hero {
  width: 100%;
  height: 100vh;
  text-align: left;
  display: flex;
  justify-content: flex-start;
  line-height: 1.1;
}

.hero-inner {
  font-size: 60px;
  text-align: left;
  margin: 170px 0 0 50px;
  width: 800px;
}

.name {
  color: rgb(143, 175, 235);
}

.name:hover {
  color: #ffad05;
}

h2 {
  padding: 30px 0;
  font-family: "Hanken Grotesk", Arial, serif;
}
#projects {
  font-family: "Hanken Grotesk", Arial, serif;
  display: flex;
  flex-direction: column;
  padding: 50px 0;
  margin: 0 50px;
}

#skills {
  font-family: "Hanken Grotesk", Arial, serif;
  display: flex;
  flex-direction: column;
  padding: 50px 0;
  width: 100%;
  color: whitesmoke;
  background-color: #6a706e;
}

#skills h2,
#skillsparagraph {
  margin: 0 50px;
}

#about {
  font-family: "Hanken Grotesk", Arial, serif;
  display: flex;
  flex-direction: row;
  padding: 50px 0;
  margin: 0 50px;
}

#aboutmewrapper {
  margin: 0;
}
#aboutparagraph {
  width: 80%;
  line-height: 1.2;
}

#aboutparagraph a {
  text-decoration: none;
  cursor: grab;
  color: #0645ad;
}

#aboutparagraph a:hover {
  text-decoration: underline;
}

#dogphoto {
  width: 225px;
  margin-right: 200px;
  border-radius: 15px;
  box-shadow: 5px 5px 5px gray;
}

footer {
  background-color: #6a706e;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}

.contactlinks {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.contactlinks li {
  list-style: none;
  padding: 0 20px;
}

.contactlinks li a {
  text-decoration: none;
  color: whitesmoke;
}

.contactlinks li:link {
  cursor: grab;
}

.contactlinks li:hover {
  text-decoration: underline;
}

/*@media screen and (max-width: 990px) {
  #dogphoto {
    what to put here to shrink image so that it isn't stretched
  }
}
/*when screen is less than 400px, nav bar shrinks into column
@media screen and (max-width: 400px) {
  .navigation {
    flex-direction: column;
  }

  */
/*  need help adjusting hero text to fit into mobile device
  .hero {
    display: flex;
    flex-direction: column;
    width: 300px;
  }

